
.noSpinners::-webkit-inner-spin-button,
.noSpinners::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}


/*Mobile and Tablet*/
@media (max-width: 869px) {
    .outer-cont {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        width: 100%;
        margin: 0;
    }

    #product-details {
        width: 100%;
    }

    .outer-con {
        width: 100%;
    }

    #searchb {
        width: 20px;
    }

    .adjust {
        margin: 12px 0 -25px 0;
    }
}

/*Quite small mobile*/
@media (max-height: 851px) {
    .adjustment {
        margin-left: -30px;
    }

    .adjustment2 {
        margin-left: -16px;
    }
}
