
.noSpinners::-webkit-inner-spin-button,
.noSpinners::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

/*Comment*/
.comment-container {
    margin-top: 20px;
}


/*Rating*/
/* Three column layout */
.side {
    float: left;
    width: 15%;
    margin-top: 10px;
}

.middle {
    margin-top: 15px;
    float: left;
    width: 70%;
}

/* Place text to the right */
.right {
    text-align: right;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The bar container */
.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

/* Individual bars */
.bar-5 {
    /*width: 60%;*/
    height: 6px;
    background-color: crimson;
}

.bar-4 {
    /*width: 30%;*/
    height: 6px;
    background-color: crimson;
}

.bar-3 {
    /*width: 10%;*/
    height: 6px;
    background-color: crimson;
}

.bar-2 {
    /*width: 4%;*/
    height: 6px;
    background-color: crimson;
}

.bar-1 {
    /*width: 15%;*/
    height: 6px;
    background-color: crimson;
}

@media (max-width: 1300px) {
    .side, .middle {
        width: 100%;
    }

    .right {
        display: none;
    }
}

/*Mobile and Tablet*/
@media (max-width: 869px) {
    .rating {
        margin-top: 20px;
    }

    .outer-cont {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        width: 100%;
        margin: 0;
    }

    #product-details {
        width: 100%;
    }

    .outer-con {
        width: 100%;
    }

    #searchb {
        width: 20px;
    }

    .adjust {
        margin: 12px 0 -25px 0;
    }
}

/*Quite small mobile*/
@media (max-height: 851px) {
    .adjustment {
        margin-left: -30px;
    }

    .adjustment2 {
        margin-left: -16px;
    }
}
