html,
body {
    min-height: 100vh;
    max-width: 100%;
    font-family: 'Poppins';
    overflow-x: hidden;
}
/*
.hidden{
    display: none;
}*/

.txtBorder:active, .txtBorder:hover, .txtBorder:focus {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: context-menu;
}

/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffece3;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fc7c7c;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #fc5f5f;
    }




/*Header*/
.outer-header {
    margin-bottom: 5px;
}

.header-container {
    background-color: #fa4d4d;
    height: 49px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-msg > * {
    text-align: center;
    font-weight: 500;
    font-size: 13px;
    color: white;
}

.promoslide {
    display: none;
}


/*Top*/
.direction-container {
    display: flex;
    /*height: 40px;*/
    width: 100%;
}

.nav-container {
    margin-top: -3px;
    margin-right: -5px;
    height: 20px;
}

    .nav-container .nav-btn {
        background-color: transparent;
        border: none;
        padding: 8px;
        padding-left: 5px;
        cursor: pointer;
    }

.search-container {
    display: flex;
    align-items: center;
}

.d-flex > input {
    height: 40px;
    font-size: 14px;
}

.d-flex button {
    height: 40px;
    width: 42px;
}

.logo-container {
    padding: 8px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: -5px;
}

.social > li {
    margin-left: 20px;
}

.tooltip {
    font-size: 12px;
}

.dropbtn {
    border: 0 !important;
    box-shadow: none;
}


/*Animated Dustbin Icon*/
.icon-trash {
    width: 38px;
    height: 50px;
    fill: #fa4d4d;
}

.trash-lid {
    transform-origin: right bottom;
    transition: transform 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.icon-trash:hover .trash-lid {
    transform: translateY(-2px) rotate(30deg);
}




/*Changing the inputn field focus --> Bootstrap*/
.form-control:focus {
    border-color: rgb(252, 238, 222);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 10px rgba(253, 223, 189, 0.9);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 10px rgba(246, 224, 198, 0.9);
}

.button-container {
    display: flex;
    align-items: center;
}

.login button {
    width: 65px;
    height: 40px;
    font-size: 14px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.login > ul > li > a:hover {
    color: white;
    background-color: #fa4d4d;
}

.login > ul > li {
    font-size: 13px;
}

.dropdown-menu {
    min-width: 60px
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: right;
}


footer {
    background-color: rgb(34, 34, 34);
    margin-top: auto;
}

.footer-container {
    height: 400px;
    display: flex;
    color: rgb(231, 230, 230);
    justify-content: space-around;
    align-items: center;
}


.socialList {
    line-height: 2.3rem;
    list-style-type: none;
}

    .socialList > li > a {
        text-decoration: none;
        color: rgb(231, 230, 230);
    }

    .socialList > li {
        margin-left: 20px;
        list-style-type: none;
    }

.map > iframe {
    overflow: hidden;
}

.location {
    width: 40%;
}

#plug-in-map {
    margin-top: 6px;
}

.address {
    text-align: center;
    line-height: 1.25rem;
    margin-top: 5px;
}

.footer-bottom {
    font-size: 14.5px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.copyright {
    color: rgb(231, 230, 230);
}

.map {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.payments {
    display: flex;
    color: rgb(231, 230, 230);
    margin-left: -50px;
}

#payment-icon {
    display: flex;
    justify-content: center;
    width: 100%;
}

    #payment-icon > div {
        margin-left: 9px;
        margin-top: 5px;
        font-size: 20px;
    }


/*Cart Styling*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cart-subtitle {
    margin-top: 10px;
}

.cart-title {
    font-size: 1.75em;
    margin-top: 10px;
    width: 100%;
}

.cart-contents {
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.cart > table {
    width: 60%;
}

    .cart > table > tr > td {
        height: 20px;
    }

.content > td > img {
    width: 100px;
    height: 150px;
}

.content > td {
    padding: 20px;
}

.input {
    text-align: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: 1px gray solid;
    border-radius: 5px;
    height: 35px;
    width: fit-content;
}

.num {
    width: 59px;
    text-align: center;
    border-radius: 6px;
    margin: 0 2px 0 2px;
    border: none;
}

    .num:focus {
        outline: none;
    }

.in, .de {
    border-radius: 5px;
    width: 35px;
    border: none;
    background-color: #fa4d4dc0;
    color: white;
}

#in:hover, #de:hover {
    background-color: #fa4d4d;
}

.listing {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    line-height: 25px;
    position: absolute;
    margin-top: 90px;
}

.t1 {
    font-size: 14px;
    color: rgb(107, 107, 107);
}

.t2 {
    font-size: 16px;
    font-weight: 700;
}

.t3 {
    font-size: 16px;
    font-weight: 700;
}



table {
    width: 100%;
}

.title-image {
    width: 10%;
    padding: 14px;
}

.title-product {
    width: 40%;
    padding: 20px;
}

.title-quantity {
    width: 28%;
    text-align: center;
    padding: 20px;
}

.title-dustbin {
    width: 2%;
}

.title-total {
    width: 20%;
    text-align: right;
    padding-right: 25px;
}

.overall-payment {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    align-items: end;
}

.amount-container {
    margin-top: 20px;
    display: flex;
    justify-content: end;
    width: 100%;
    font-weight: 800;
    font-size: 25px;
}

.amount {
    margin-left: 30px;
}

table {
    border: 1px solid rgba(204, 199, 199, 0.678);
}

.titles {
    border-bottom: 1px solid rgba(204, 199, 199, 0.678);
}

tr, td {
    margin: 5px;
}


/* Animated Checkout Button */
.cta {
    position: relative;
    margin: auto;
    padding: 19px 22px;
    transition: all .2s ease;
    text-decoration: none;
}

    .cta:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        border-radius: 28px;
        background: rgba(255, 171, 157, 0.5);
        width: 56px;
        height: 56px;
        transition: all .3s ease;
    }

    .cta span {
        position: relative;
        font-size: 14px;
        line-height: 18px;
        font-weight: 900;
        letter-spacing: .25em;
        text-transform: uppercase;
        vertical-align: middle;
    }

    .cta svg {
        position: relative;
        top: 0;
        margin-left: 10px;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: #111;
        stroke-width: 2;
        transform: translateX(-5px);
        transition: all .3s ease;
    }

    .cta:hover:before {
        width: 100%;
        background: #ffab9d;
    }

    .cta:hover svg {
        transform: translateX(0);
    }

    .cta:active {
        transform: scale(0.96);
    }


/*To cater different device screens*/
/*PC*/
@media (min-width: 870px) {
    .nav-container {
        display: none;
    }
    /*Others*/
    .header-container {
        margin-bottom: 6.5px;
    }

    .cartitems-container {
        margin: 0 40px 0 40px;
    }

    .button-container {
        margin-right: 55px;
    }

    .dropdowns {
        margin-left: 35px;
        margin-right: 35px;
    }

    #navMobile {
        display: none;
    }

    .nav-btn {
        border: none;
    }

    #promotionSlider {
        margin-top: 26px;
    }

    footer {
        margin-top: 50px;
    }

    .direction-container {
        margin: 0 35px 0 35px;
    }

    .logo-container a img {
        height: 65px !important;
        width: 190px !important;
    }

    /*Others*/
    .header-container {
        margin-bottom: 6.5px;
    }

    /*Mobile and Tablet*/
    @media (max-width: 869px) {

        /*Cart Styling*/
        .cart-container {
            margin: 0 15px 50px 15px;
        }

        .table1 {
            display: flex;
            flex-flow: column wrap;
            flex: 1 1 200px;
        }

        .input-container {
            height: 100%;
            display: flex;
            flex-flow: column nowrap;
        }

        .titles {
            display: none;
        }


        .trash {
            margin-left: -25px;
        }

        .total {
            flex: 1 1 300px;
        }

        /*Others*/
        .nav-container > button > span {
            height: 10px;
            width: 10px;
        }

        .logo-container > a > img {
            height: 25px;
            width: 72px;
        }

        .nav-container {
            display: flex;
        }

        .button-container {
            margin-right: 12.5px;
            width: auto;
            float: right;
        }

        .direction-container {
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .logo-container {
            justify-self: left;
        }

            .logo-container a img {
                height: 45px !important;
                width: 125px !important;
            }

        .nav-btn {
            margin-top: -9px !important;
            margin-right: -6px;
        }

        .search-container {
            order: 3;
            width: 100%;
        }

        .combiner {
            display: flex;
        }

        .dropdowns {
            display: none;
        }

        .nav-item {
            margin-left: 10px;
        }

            .nav-item > button {
                font-size: 1.4rem;
            }

            .nav-item > ul {
                font-size: 1rem;
            }

        .offcanvas-body {
            margin-top: -10px;
        }

        .btn-close {
            outline: 1.5px inset #fa4d4d;
            padding: -5px;
        }

            .btn-close:focus,
            .btn-close:active {
                outline: 1.5px inset #fa4d4d;
                box-shadow: none;
            }

        .social > li > a {
            text-decoration: none;
            color: rgb(189, 186, 186);
        }


        /*Another view of footer for mobile and tablet*/
        footer {
            height: 800px;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            margin-top: 20px;
        }

        .footer-container {
            height: 600px;
            display: flex;
            flex-flow: row wrap;
        }

        .footer-bottom {
            height: 200px;
            width: 100%;
            display: flex;
            flex-flow: row wrap;
        }

        .socialMedia {
            margin-top: 30px;
        }

        .socialList > ul > li {
            display: flex;
            width: 100%;
            flex: 0 0 200px;
        }

        .location {
            display: flex;
            flex-flow: column nowrap;
            width: 100%;
            margin: 0 20px 0 20px;
        }

            .location .map,
            .address {
                width: 100%;
            }

        .payments {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
        }

        #payment-icon {
            width: 100%;
        }

            #payment-icon:last-child {
                margin-right: -40px;
            }

        .payments > p {
            margin-bottom: -5px;
            margin-right: -32px;
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .copyright {
            order: 4;
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: -30px;
            margin-top: -30px;
        }

        .socialMedia {
            width: 100%;
            margin-left: 0px;
        }

            .socialMedia > ul > li {
                text-align: center;
            }

        .socialList {
            line-height: 2.3rem;
            text-align: center;
        }

            .socialList > li > a {
                text-decoration: none;
                color: rgb(231, 230, 230);
            }

            .socialList > li {
                margin-left: -20px;
            }

        #location-title {
            text-align: center;
        }
    }

    /*Quite small mobile*/
    @media (max-height: 851px) {
        .adjustment {
            margin-left: -30px;
        }

        .adjustment2 {
            margin-left: -16px;
        }
    }
